<!doctype html>
<html class="no-js fixed-layout" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${systemName}"></title>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/header.js"></script>
    <script src="lib/underscore.min.js"></script>
    <script src="js/admin/articleCategories.js"></script>
    <script src="js/all.js"></script>
    <script src="js/plugs_paging.js"></script>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/superadmin.css">
    <link rel="stylesheet" href="css/plugs_paging.css">
</head>
<body>

<div id="articleCategories">
    <div class="subject">
        <div class="articleCategoriesManagement">
            <ol class="am-breadcrumb  am-breadcrumb-slash navigationBar">
                <li class="am-active am-icon-home"> 后台管理</li>
                <li class="am-active">分类管理</li>
            </ol>
            <div class="categoryContent">
                <!--分类管理-->
            </div>
        </div>
    </div>
</div>


<!--添加分类模态框-->
<div class="am-modal am-modal-prompt" tabindex="-1" id="addCategory">
    <div class="am-modal-dialog">
        <div class="top am-modal-hd">添加分类</div>
        <div class="am-modal-bd">
            <span class="describe">输入需要添加的分类名：</span>
            <input type="text" class="am-modal-prompt-input">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>

<!--删除分类模态框-->
<div class="am-modal am-modal-prompt" tabindex="-1" id="subCategory">
    <div class="am-modal-dialog">
        <div class="top am-modal-hd">删除分类</div>
        <div class="am-modal-bd">
            <span class="describe">输入需要删除的分类名：</span>
            <input type="text" class="am-modal-prompt-input">
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>

<!--消息盒子+反馈-->
<div th:replace="other :: other"></div>

</body>
</html>