<!doctype html>
<html class="no-js fixed-layout" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${systemName}"></title>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/header.js"></script>
    <script src="lib/underscore.min.js"></script>
    <script src="js/admin/privateWord.js"></script>
    <script src="js/all.js"></script>
    <script src="js/plugs_paging.js"></script>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/superadmin.css">
    <link rel="stylesheet" href="css/plugs_paging.css">
</head>
<body>

<div id="privateWord">
    <div class="subject">
        <ol class="am-breadcrumb  am-breadcrumb-slash">
            <li class="am-active am-icon-home"> 后台管理</li>
            <li class="am-active">悄悄话</li>
        </ol>
        <div class="privateWord">
        </div>
    </div>
</div>

<!--消息盒子+反馈-->
<div th:replace="other :: other"></div>

</body>
</html>